<app-navbar></app-navbar>
<div class="row authcontainer">
<div class="conainer">
  <form action="" method="post">
    <div class="card-panel z-depth-5">
        <div class="row margin">
            <div class="col s12 m12 l12 center">
                <p>Login</p>
            </div>
        </div>

        <div class="col s12 m12 l12">
            <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input type="text" name="username" id="username">
                <label for="username">Username</label>
            </div>
        </div>

        <div class="col m12 l12">
            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input type="password" name="password" id="password">
                <label for="password">Password</label>
            </div>
        </div>



        <div class="center">
            <input type="submit" value="Login" name="login"
            class="btn"
            style="width:70%; color:white; font-weight:bold; background-color: #0c9d8cd9;">
        </div>

    </div>
  </form>

</div>
</div>
